<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.guyleroy.assistancedogs" version="1.0.0">
    <name>Assistance Dogs</name>
    <description>How to get an assistance dog</description>
    <author href="http://phonegap.com" email="support@phonegap.com">Guy LE Roy</author>
    <content src="index.html"/>
    <preference name="DisallowOverscroll" value="true"/>
    <preference name="android-minSdkVersion" value="14"/>
    <icon src="icon.png"/>
    <platform name="android">
        <icon src="images/PNGs/icon114X114.png" density="ldpi"/>
        <icon src="images/PNGs/icon114X114.png" density="mdpi"/>
        <icon src="images/PNGs/icon114X114.png" density="hdpi"/>
        <icon src="images/PNGs/icon114X114.png" density="xhdpi"/>
        <icon src="images/PNGs/icon114X114.png" density="xxhdpi"/>
        <icon src="images/PNGs/icon114X114.png" density="xxxhdpi"/>
        <splash src="images/PNGs/splashlandscape.png" density="land-ldpi"/>
        <splash src="images/PNGs/splashlandscape.png" density="land-mdpi"/>
        <splash src="images/PNGs/splashlandscape.png" density="land-hdpi"/>
        <splash src="images/PNGs/splashlandscape.png" density="land-xhdpi"/>
        <splash src="images/PNGs/splashlandscape.png" density="land-xxhdpi"/>
        <splash src="images/PNGs/splashlandscape.png" density="land-xxxhdpi"/>
        <splash src="images/PNGs/splash750x1136.png" density="port-ldpi"/>
        <splash src="images/PNGs/splash750x1136.png" density="port-mdpi"/>
        <splash src="images/PNGs/splash750x1136.png" density="port-hdpi"/>
        <splash src="images/PNGs/splash750x1136.png" density="port-xhdpi"/>
        <splash src="images/PNGs/splash750x1136.png" density="port-xxhdpi"/>
        <splash src="images/PNGs/splash750x1136.png" density="port-xxxhdpi"/>
    </platform>
    
    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
</widget>
